body {
  text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  background-image: url('../img/noruega1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
  margin-bottom: 10px;
}

.sobre-mi{
  padding: 20%, 5%;
}

.titulo1{
  font-size: 4rem;
  font-family: 'Gelasio', serif;
  font-weight: 700;
  margin: 20%, 0, 5%, 0;
}

.titulo2{
  font-size: 3rem;
  font-family: 'Gelasio', serif;
  font-weight: 500;
  margin: 10%, 0, 10%, 0;
}

h2 {
  font-family: 'Gelasio', serif;
  font-weight: 400i;
}

h5 {
  font-family: 'Gelasio', serif;
}

.about {
  padding: 10%, 2%, 10%, 2%;
}

.seccion-viajes{
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #48799C;
}
